section.nav-wrapper
  nav.nav
    ul.nav__list
      li.nav__li
        a.nav__link(href='/official-rules') official rules
      li.nav__li
        a.nav__link(href='/privacy') privacy
      li.nav__li
        a.nav__link(href='/terms') terms
      li.nav__li
        a.nav__link(href='/faq') faqs
      li.nav__li
        a.nav__link(href='mailto:suprizeapp@gmail.com' target='_blank') contact