extends layouts/main.pug

block content
  .bg
  
  section.content
    .phone-title
      .phone
        .phone-bg
        .phone-video
          video(loop onclick="this.play()" playsinline controls="true" poster="img/fff.png")
            source(src="assets/placeholder.mp4" type="video/mp4")
            source(src="assets/placeholder.webm" type="video/webm")

      .title
        span.title-part-1
        span.title-part-2
        span.title-part-3
      
  include includes/nav.pug
  include includes/social.pug