.nav {
  //width: 100%;
  position: absolute;
  bottom: 83px;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, 0);

  @include fadeIn;

  .inner-wrap & {
    @include mq('desktop') {
      position: fixed; 
    }

    background-color: $color-purple;
    position: static;
    transform: translate(0, 0);
    left: 0;
    bottom: 0;
    right: 0;
    top: auto !important;

    padding-top: 26px;
    padding-bottom: 80px;
    margin-top: 20px;
  }

  @include mq('mobile') {
    background-color: $color-purple;
    margin-top: 0 !important;
  }

  @include mq('tablet') {
    position: relative;
    transform: translate(0, 0);
    padding-bottom: 75px;
    margin-top: 20px;
    left: 0;
    top: 0;
    z-index: 2
  }
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  @include mq('tablet') {
    display: block;
  }

  .inner-wrap & {
    justify-content: space-between;
    max-width: 586px;
    margin: 0 auto;
  }
}

.nav__li {
  padding: 0 10px;
  margin: 0 10px;
  z-index: 2;
  position: relative;
  text-align: center;

  &.nav__li_has-dropdown {
    z-index: 1;

    &.nav__li_has-dropdown_active {
      .nav__dropdown {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }

  &:hover .nav__link {
    opacity: 1 !important
  }
}

.nav__link {
  text-align: center;
  display: block;
  white-space: nowrap;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  height: 40px;
  font-size: 18px;
  opacity: 0.5;
  font-weight: 400;
  transition: opacity 0.2s ease-in;
  //-webkit-tap-highlight-color: rgba(0,0,0,0);

  @include mq('tablet') {
    height: 62px;
    line-height: 62px;
    display: inline-block;
    padding: 0 10px;
  }

  &:active { font-weight:500 }

  &.nav__link_active {
    opacity: 1;
  }
}

.home-page {
  .nav {
    .nav__link {
      opacity: 1
    }
    &.nav_hovered .nav__link {
      opacity: 0.5
    }
  }
}