/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-instagram-white {
  background-image: url(../img/sprite.png);
  background-position: -184px -77px;
  width: 78px;
  height: 78px;
}
.icon-instagram {
  background-image: url(../img/sprite.png);
  background-position: 0px -163px;
  width: 78px;
  height: 78px;
}
.icon-snapchat-white {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 90px;
  height: 84px;
}
.icon-snapchat {
  background-image: url(../img/sprite.png);
  background-position: -92px 0px;
  width: 90px;
  height: 84px;
}
.icon-twitter-white {
  background-image: url(../img/sprite.png);
  background-position: 0px -86px;
  width: 93px;
  height: 75px;
}
.icon-twitter {
  background-image: url(../img/sprite.png);
  background-position: -184px 0px;
  width: 93px;
  height: 75px;
}
