$breakpoints: (
  'mobile':  ( max-width:  480px ),
  'tablet': ( max-width:  786px ),
  'desktop':  ( min-width: 786px ),
) !default;

$font-default: "Heebo", Helvetica, Arial;
$color-background: #000;
$color-purple:#b300ff;